.login-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 20vw;
  height: 70vh;
  border: 1px solid black;
  padding: 2rem;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 0.5rem;
}
