.vote-page {
  width: 100vw;
  height: 100vh;
}

.candidates-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  background-color: var(--background);
}

.candidate-card {
  width: 25%;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 8px 31px -6px rgba(0, 0, 0, 0.75);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7%;
  padding: 0 3rem;
  background-color: #e6eeff;
}

.navbar .btn {
  width: 8%;
  margin: 0;
}

.hidden {
  display: none;
}

.candidate-img {
  width: 80%;
  height: 30rem;
  margin: 0 auto;
}

.candidate-img img {
  width: 100%;
  height: 100%;
}

h2 {
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.5rem;
  padding-top: 1rem;
}
